body {
  font-family: Arial;
  background: #5b0a87;
  color: #333;
  margin: 0;
}

.menu {
  background: #6a0dad;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.cards div, .form, section {
  background: #ffcc9a;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #ffcc9a;
  padding: 30px;
  border-radius: 10px;
}